* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-branco-principal: #ffffff;
    --cor-fonte-destaque: #EC2F46;
    --cor-fundo: #00030c;
    --cor-botão-azul: #167BF7;
    --cor-hover-botao: #0b4080;
    --cor-fonte-aviso: #C0C0C0;

    --tamanho-fonte-aviso: 0.75rem;
    --tamanho-fonte-titulo: 1.5rem;
    --tamanho-fonte-corpo: 1rem;

    --fonte-principal: 'Inter';

}

body {
    background: var(--cor-fundo);
    color:var(--cor-branco-principal);

    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    display: block;

    background-color: var(--cor-botão-azul);
    color: var(--cor-branco-principal);

    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;

    text-decoration: none;
    text-align: center;
    line-height: 150%;
}

.container__botao:hover {
    background-color: var(--cor-hover-botao);
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--cor-branco-principal);
    margin-top: 1rem;
}

.container__aviso {
    font-size: var(--tamanho-fonte-aviso);
    color: var(--cor-fonte-aviso);
    margin-top: 1rem;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
    justify-self: center;
    align-self: center;
    display: block;
}

.secundario {
    align-items: center;
    margin: 0px 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--cor-branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-fonte-aviso);
}

.container__descricao > .container__botao {
    width: 40%;
}

.dispositivos {
    align-items: center;
    text-align: center;
}

.dispositivos > .descricao__titulo {
    margin-bottom: 3rem;
}

.dispositivos__aparelhos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.rodape__logo {
    margin-top: 5rem;
    max-width: 102px;
    height: auto;
}

.rodape__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    list-style: none;
}

.lista__link a {
    text-decoration: none;
    color: var(--cor-branco-principal);
    font-size: 1rem;
    margin: 0 0.5rem;
}

.lista__link a:hover {
    color: var(--cor-botão-azul);
}

.lista__link a:active {
    color: var(--cor-hover-botao);
}

.rodape__texto {
    color: var(--cor-fonte-aviso);
    font-size: 0.8rem;
}

.imagem:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}